<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>文档编译演示</h1>
  <div id="app">
    <input type="text" b-value="message" />
    <input type="text" b-value="message" />
    <input type="text" b-value="message" />
  </div>

  <!-- <input type="text" value='Hello World' />
  <input type="text" value='Hello World' />
  <input type="text" value='Hello World' /> -->

  <script src="./browser.js"></script>
  <script src="./binder.js"></script>
  <script src="./view.js"></script>
  <script>
    // 模型
    let model = {
      message: 'Hello World',
      
      getData(key) {
        let val = this
        let keys = key.split('.')
        for(let i=0, len=keys.length; i<len; i++) {
          val = val[keys[i]]
          if(!val && i !== len - 1) { throw new Error(`Cannot read property ${keys[i]} of undefined'`) }
        }
        return val
      }
    }
    
    // 抽象视图
    new View('#app', model)
    
  </script>
</body>
</html>